{% extends 'base.html' %}
{% block content %}

<div class="container-fluid full-width mt-4">
    <!-- Artist Section -->


    <div class="artist-background" style="background-image: url('{{artist.images.url}}')">

        <div class="overlay text-center d-flex flex-column justify-content-top mt-5">
            <h1 class="text-white">{{ artist.name }}</h1>
            <p class="text-white"><strong>Genre:</strong> {{ artist.genres | join(", ") }}</p>
            <p class="text-white"><strong>Followers:</strong> {{ artist.followers }}</p>
        </div>
    </div>


    <!-- Tracks Section -->
    {% if artist %}
    <div class="tracks-section mt-1 text-center">
        <div class="row">
            <h2 id="track-headline">Top Tracks by {{ artist.name }}</h2>
            <button id="toggle-tracks" class="btn  mt-3">Toggle Top 10 Tracks</button>
        </div>
        {% else %}
        <p class="display-1">No artist or track found!</p>
        {% endif %}

        {% if tracks %}
        <div id="artist-top-tracks-bg" class="show_tracks mt-4" style="display:block;">
            <div class="row">
                {% for track in tracks.name %}
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <div id="artist-top-tracks" class="card-body">
                            <h5 class="card-title">{{ track.name }}</h5>

                            {%if track.popularity%}
                            <p class="card-text"><strong>Popularity:</strong> {{ track.popularity }}</p>
                            {%endif%}
                            <form method="POST" action="/add_playlist_songs" class="form-inline">

                                <input type="hidden" name="track_name" value="{{ track.name}}">
                                <input type="hidden" name="artist_name" value="{{ artist.name }}">
                                <input type="hidden" name="track_duration" value="{{ track.duration_ms }}">
                                <input type="hidden" name="track_id" value="{{ track.id }}">
                                <input type="hidden" name="track_popularity" value="{{ track.popularity }}">

                                {% if track in user.fav_songs %}
                                <button class="btn btn-danger btn-sm">Remove from Favorites</button>
                                {% else %}
                                <button id="att-btn" class="btn btn-sm">Add</button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Albums Section -->
    <div id="track-album-background" class="row mt-5">
        <h5 id="track-album-headline" class="text-center display-5 mb-4"> {{artist.name}}'s Greatest Album Hitz</h5>
        {% for album in albums %}
        <div id="track-album-content" class="col-md-4 col-lg-3 mb-4">
            <div id="track-album-items" class="card">
                <img src="{{ album.image }}" class="card-img-top" alt="{{ album.album_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ album.album_name }}</h5>
                    <a id="att-btn" href="/show_album_tracks/{{ album.id }}" class="btn btn-sm"
                        data-id="{{ artist.id }}">
                        Explore Album!
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}