{% extends 'base.html' %}

{% block content %}
<div class="container-fluid full-width mt-5">

    <div id="album-bg"
        class="container-fluid album-background d-flex flex-column justify-content-center align-items-center"
        style="background-image: url('{{ album.image }}');">

        <div class="album_overlay text-center m-5">
            <h1 id="overlay-headline" class="display-1"> Album title:{{ album.name }}</h1>
            <p class="lead rd"><em>Released: {{ album.release_date }}</em></p>
            <button id="view-tracks" type="button" class=" btn btn-lg album-btn">
                View Tracks
            </button>

            <a href="/">
                <button id="backToptracks" type="button" class="btn btn-lg m-3 album-btn">
                    Back to Top Tracks
                </button>
            </a>
        </div>

    </div>

    <div class="container-fluid ">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="album-tracks" style="display: none;">
                    {% if album.tracks %}
                    <h4 class="display-5 text-center">Tracks in the Album</h4>

                    <ul class="list-group mb-5">
                        {% for track in album.tracks %}
                        <li id="album-tracks-bg"
                            class="list-group-item d-flex justify-content-between align-items-center m-1">
                            <span>{{ track.name }}</span>

                            <form method="POST" action="/add_album_tracks" class="form-inline d-inline">

                                <input type="hidden" name="track_name" value="{{ track.name }}">

                                <input type="hidden" name="track_id" value="{{ track.id }}">

                                {% for artist in track.artists %}
                                <input type="hidden" name="artist_name" value="{{ artist.name }}">
                                {% endfor %}

                                <input type="hidden" name="album_id" value="{{ album.id }}">

                                <input type="hidden" name="track_duration" value="{{ track.duration_ms }}">

                                {% if track.popularity %}
                                <input type="hidden" name="track_popularity" value="{{ track.popularity }}">
                                {% endif %}

                                <button id="album-tracks-btn" class="btn btn btn-lg">+</button>

                            </form>

                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}